[Unit]
Description=vlmcsd-x64-musl
After=network.target

[Service]
Type=forking
PIDFile=/var/run/vlmcsd-x64-musl.pid
ExecStart=/opt/vlmcsd/vlmcsd-x64-musl-static -p /var/run/vlmcsd-x64-musl.pid
ExecStop=/bin/kill -HUP $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
